@keyframes fadein {
    from {color: #333333;}
    to {color: white;}
}

@keyframes slider {
    from{margin-left: -200%;}
    to{margin: 0%}
}  

* {font-family: "Noto Sans JP" !important}

html {
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333333;
    overflow: hidden;
    border-radius: 5px;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Ubuntu", sans-serif;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #dddddd;
    color: #000000;
}

/* Add a color to the active/current link */
.topnav a.active {
    /* background-color: #447ba1; */
    background-color: #35a9ff;
    color: #ffffff;
}

.slide {
    animation-name: slider;
    animation-duration: 2s;
}

header {
    /* padding: 30px; */
    text-align: center;
    color: #ffffff;
    font-size: 35px;
}

h2 {
    color: #ffffff;
    /* float: center; */
}

p {
    color: #ffffff;
    text-rendering: optimizeLegibility;
    font-size: 17px;
}

li {
    color: #ffffff;
    text-rendering: optimizeLegibility;
    font-size: 17px;
}

a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
a:hover {
    background-color: #dddddd;
    color: #000000;
}

/* Add a color to the active/current link */
a.active {
    /* background-color: #447ba1; */
    background-color: #990000;
    color: #ffffff;
}

.footer {
    position: relative;
    text-align: center;
    bottom: 0px;
    right: 0px;
    font-size: 17px;
    color: #ffffff;
}
